<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Great Job!
    <form method="post" action="/add_tweet">
         <div>
            <label>title*</label>
            <div>
                <input type="title"  name="title">
            </div>
        </div>
        <div>
            <label>text*</label>
            <div>
                <input type="text"  name="text">
            </div>
        </div>
        <div>
            <div>
                <input type="submit"  name="submit">
            </div>
        </div>
    </form>
        

    
</body>
</html>